@model IList<Project>
@{
    ViewBag.Title = "Projects";
}

@Html.Partial("_searchFilter")
<h3>Current Logging Projects and Their Components</h3>
<ul>
@foreach (var proj in Model)
{
    <li>@Html.ActionLink(proj.Name, "Search", "Logs", new RouteValueDictionary { { "filter.ProjectName", proj.Name } }, null)
        <ul>
            @foreach (var comp in proj.Components)
            {
                <li>@Html.ActionLink(comp.Name, "Search", "Logs", new RouteValueDictionary { { "filter.ComponentName", comp.Name } }, null)</li>
            }
        </ul>
    </li>
}
</ul>