<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Default" connectionString="Server=.\SQL2005;Database=LogServer;Trusted_Connection=True;" />
    </connectionStrings>
    <appSettings>
        <add key="Environment" value="dev"/>
    </appSettings>
</configuration>