<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <connectionStrings>
        <add name="Default" connectionString="Server=.\SQL2005;Database=LoggingServer;Trusted_Connection=True;" />
    </connectionStrings>
</configuration>
