/* General  
----------------------------------------------------------*/
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, Verdana, Helvetica, Sans-Serif;
    font-size: .75em;
    margin: 0;
    padding: 0;
}

a:link {
    color: #3b3420;
    text-decoration: none;
}

a:visited {
    color: #3b3420;
    text-decoration: none;
}

a:hover {
    color: #a52f09;
    text-decoration: none;
}

a:active {
    color: #a52f09;
}

/* Basic Layout
----------------------------------------------------------*/
.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header {
    height: 80px;
}

#body, #footer {
    border-top: 1px dotted #5d5a53;
    clear: both;
}

#footer {
    padding: 10px;
    text-align: center;
}

#main {
    padding: 10px 30px 15px 30px;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    clear: both;
    min-height: 380px;
}

header,
footer,
nav,
section {
    display: block;
}

/* Menu
----------------------------------------------------------*/

.ui-state-default a:hover {
    color: #baec7e !important; 
    text-decoration: none !important;
}

.ui-state-default a:active {
    color: #e3ddc9 !important; 
    text-decoration: none !important;
}

/* Forms   
----------------------------------------------------------*/
fieldset {
    border: 1px solid #CCC;
    padding: 0;
    margin: auto;
    width: 100%;
}

    fieldset legend {
        font-size: 1.1em;
        font-weight: bold;
        padding: 2px 4px 8px 4px;
    }

    fieldset input[type="text"], input[type="password"] {
        border: 1px solid #ccc;
        color: #444;
        font-size: 1.2em;
        padding: 2px;
        width: 300px;
        margin-right: 5px;
    }
        fieldset input[type="text"].date-field {
             width: 160px;
        }

    fieldset textarea {
        color: #444;
        width: 300px;
    }

    .no-legend {
        border: none;
        padding: 0;
    }

        .no-legend legend {
            display: none;
        }

input[type="checkbox"] {
    margin-left: 0;
    margin-right: 10px;
}

.related-form-fields {
    clear: both;
}

fieldset.related-form-fields {
    padding: 3px;
    margin-bottom: 10px;
}

div.checkboxes {
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.checkboxes label {
    margin: 0;
    padding: 0;
}

/* Information and errors  
----------------------------------------------------------*/  
.message {
    border: 1px solid;
    clear: both;
    margin: 10px 0px;
    padding: 15px 15px;
    
    /*CSS3 properties*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    -moz-box-shadow: 2px 2px 5px #888;
}

.info {
    background: #bde5f8;
    color: #00529b;
}

.error {
    background: #ffccba;
    color: #d63301;
}
        
.field-validation-error {
    color: #be3e16;
    font-weight: bold;
}

    .field-validation-error:before {
        content: "«";
        margin:0 3px;
    }
    
.validation-summary-errors {
    color: #be3e16;
    font-size: 1.2em;
    font-weight: bold;
}

.validation-summary-errors ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
    vertical-align: top;
}

table th {
    padding: 6px 5px;
    text-align: left;
    border: solid 1px #e8eef4;
}

table tr.loglevel-trace, table tr.loglevel-trace pre
{
    background-color: #F3F3F3;
    color: #000;
}

table tr.loglevel-debug, table tr.loglevel-debug pre
{
    background-color: #CAE4FF;
    color: #000;
}

table tr.loglevel-info, table tr.loglevel-info pre
{
    background-color: #BBFFBB;
    color: #000;
}

table tr.loglevel-warn, table tr.loglevel-warn pre
{
    background-color: #FFFFA8;
    color: #000;
}

table tr.loglevel-error, table tr.loglevel-error pre
{
    background-color: #FF8080;
    color: #000;
}

table tr.loglevel-fatal, table tr.loglevel-fatal pre
{
    background-color: #FF0000;
    color: #fff;
}

/* css for timepicker
----------------------------------------------------------*/
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

/* Misc
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    float: right;
    margin-top: 35px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
    margin-top: 20px;
}

#logindisplay {
    font-size: 1.1em;
    display: inline;
    text-align: right;
    float: right;
    margin: 40px 10px 10px 10px;
    padding: 5px;
    width: auto;
}

.maxheight {
    height: 50px;
}

.add-margin-right {
    margin-right: 10px;
}

.add-margin-left {
    margin-left: 5px;
}

.add-margin-top {
    margin-top: 5px;
}

.add-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-padding {
    padding: 0 3px 0 3px;
}

div.left {
    float: left;
}

div.right {
    float: right;
}