<?xml version="1.0"?>
<configuration>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <connectionStrings>
        <add name="Default" connectionString="Server=.\SQL2005;Database=LogServer;Trusted_Connection=True;"/>
    </connectionStrings>
    <appSettings>
        <add key="environment" value="development"/>
        <add key="loggingServerEndPoint" value="http://localhost/LoggingServer.svc"/>
    </appSettings>
</configuration>
