<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="${basedir}/${shortdate}.log" />
        </targets>

        <rules>
            <logger name="*" minlevel="Warn" writeTo="file" />
        </rules>
    </nlog>


    <connectionStrings>
        <add name="Default" connectionString="Server=.\SQL2005;Database=LogServer;Trusted_Connection=True;" />
    </connectionStrings>
    <system.serviceModel>
        <services>
            <service name="LoggingServer.Service.LogReceiverServer">
                <endpoint address="LoggingServer.svc" binding="basicHttpBinding" contract="NLog.LogReceiverService.ILogReceiverServer" />
                <endpoint address="LoggingServerBin.svc" binding="customBinding" bindingConfiguration ="myBinaryBinding" contract="NLog.LogReceiverService.ILogReceiverServer" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
        <bindings>
            <customBinding>
                <binding name="myBinaryBinding">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
