<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Default" connectionString="Server=.\SQL2005;Database=LogServerTest;Trusted_Connection=True;" />
    </connectionStrings>
    <appSettings>
        <add key="environment" value="development"/>
        <add key="loggingServerEndPoint" value="http://localhost/LoggingServer.svc"/>
        <add key="subscriptionFromAddress" value="me@mail.com"/>
        <add key="smtpHost" value="localhost"/>
        <add key="filterLink" value="http://localhost:61065/Logs/SavedSearch/{0}"/>
    </appSettings>
</configuration>