<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
      <services>
          <service name="SBT.Logging.Server.Services.LogReceiverService" behaviorConfiguration="MyServiceTypeBehaviors">
              <endpoint address="http://localhost:9979/LogReceiver.svc" binding="customBinding" bindingConfiguration="binaryBinding" contract="NLog.LogReceiverService.ILogReceiverServer">
                  <identity>
                      <dns value="localhost" />
                  </identity>
              </endpoint>
              <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
          </service>
      </services>
      <behaviors>
          <serviceBehaviors>
              <behavior name="MyServiceTypeBehaviors">
                  <serviceMetadata httpGetEnabled="true" />
              </behavior>
          </serviceBehaviors>
      </behaviors>
      <bindings>
          <customBinding>
              <binding name="binaryBinding">
                  <binaryMessageEncoding />
                  <httpTransport />
              </binding>
          </customBinding>
      </bindings>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
